.button{
    background-color: #E23072;
    border-radius: 13px;
    width: 100%;
    padding: 5px;
  font-family: "Roboto", sans-serif;
color: white;
}

.offcanvas{
/* padding: 20px; */
font-family: "Roboto", sans-serif;
width: 100%;

}
.offcanvas_title{
  font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.offcanvas_item{
    display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 10px 12px;
  margin-bottom: 5px;
  transition: all 0.5s;
}
.offcanvas_item:hover{
color: black;
    background-color: #ffffff;
    transition: all 0.5s;

}


@media only screen and (max-width: 576px)  {
  .button{
      /* margin: auto; */
      width: 300px;
  }


}

@media only screen and (max-width: 991px)  {
  .offcanvas{
    padding: 20px;
    }

}

