.img {
  /* border-radius: 50%; */
  height: 36px;
  /* width: 36px; */
  object-fit: cover;
  margin-top: 47px;
}
.menu{
  /* margin-right: 50px; */
}
.col {
  margin-top: 46px;
font-family: "Roboto", sans-serif;

}
.info_card{
  transition: all 0.5s;
  cursor: pointer;
}
.info_card:hover{
  transition: all 0.5s;
  border-color: rgba(226, 48, 114, 0.3);
  box-shadow: rgba(226, 48, 114, 0.3) 0px 2px 8px 0px;
}
.card_body {
font-family: "Roboto", sans-serif;
margin:10px;
}
.card {
  /* width: 100px; */
  background-color: red;
  transform: translate(50%,50%);
}
.cards_right {
  border-radius:20px;
font-family: "Roboto", sans-serif;
height:200px;
  align-items: center;
}

.transaction_history_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-top:10px;
  /* height:60px; */
  padding:10px;
  width: 100%;
}
.transaction_history_row:nth-child(even) {

  background-color: #EBE6E1;

}

.modal_title {
  font-size: 24p;
  font-weight: 40;
  margin-top:20px;
  margin-bottom:30px;
  text-align:center;
}
input[type=text] {
    margin-top:10px;
    background-color:white;
    border-color: white;
  }
  input[type=email] {
    margin-top:10px;
  background-color: white;
  border-color: white;

  }
  input[type=password] {
    margin-top:10px;
  background-color: white;
  border-color: white;
  }
  .modal_button{
    background-color: white;
    color: #e23072;
    border: 0;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 20px;
    align-items: center;

}
.card_container {
  border: 0;
  max-width: 450px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  /* margin: auto; */
  margin-bottom: 20px;
}
.card_header_container,
.card_footer_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card_header_right {
  color: #e23072;
}
.card_header_container {
  border: 0;
  background-color: transparent;
}


.progress{
  background-color: #E23072;
  height: 30px;
  width: 180px;
font-family: "Roboto", sans-serif;
margin-top: 50px;
  border-radius: 30px;
}
.text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal_body{
  margin-top: 30px;
}

@media only screen and (min-width: 1050px)  {
  .progress{
      width: 180px;

  }
}
@media only screen and (min-width: 991px)  {
  .progress{
      width: 120px;
  }
}
@media only screen and (max-width: 991px)  {
  .progress{
      width: 160px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 769px)  {
  .progress{
      /* width: 130px; */
  }
}

@media only screen and (max-width: 700px) and (min-width: 576px)  {
  .progress{
      /* width: 120px; */
  }
}
@media only screen and (max-width: 576px)  {
  .card_container_div{
      display: flex;
      justify-content: center;
  }
  .info_card{
      width: 300px;
  }
  .transaction_history_row {
      flex-direction: column;
  }
}
@media only screen and (max-width: 991px)  {
  .offcanvas{
    padding: 20px;
    }

}

@media only screen and (max-width: 991px)  {
  .col_menu{
      margin-top: 0px;
  }
  .col_card{
      margin-top: 0px;
  }
}

@media only screen and (min-width: 992px)  {
  .col_menu{
      margin-top: 140px;
  }
  .col_card{
      margin-top: 100px;
  }
}
