.contact {
    position: fixed;
    bottom: 0;
    right: 0;
    margin:10px;
    width:170px;
  }
  .contact_card {
    border-radius:20px;
    align-items: center;
    background-color: black;
    margin:10px;
  }
  .contact_row {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .contact_chat {
    color:gray;
  }
  .contact_wp{
    font-size:16px;
    color:gray;

  }
  .FaCircle{
    color:green;
    margin-right: 8px;
  }
  .BsWhatsapp {
    color:green;
    margin-right: 8px;
    font-size:1.2rem;
  }
   @media (max-width: 768px) {
    .contact {
        position: fixed;
        bottom: 0;
        right: 0;
        margin:10px;
        width:100px;
      }
      .contact_card {
        border-radius:20px;
        align-items: center;
        background-color: black;
        margin:10px;
      }
      .contact_row {
        padding: 10px;
      }
      .contact_chat {
        color:gray;
        text-align: center;
      }
      .contact_wp{
        font-size:12px;
        color:gray;
        text-align: center;
      }
      .FaCircle{
        color:green;
        margin:Auto;
      }
      .BsWhatsapp {
        color:green;
        font-size:1.2rem;
        margin:Auto;
      }
  }